@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: roboto;
  scroll-behavior: smooth;
}
.location > h5 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 6px;
  font-size: 18px;
}
.location > p {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
}
.vertical-line {
  height: 100%;
  border-left: 55px solid grey;
}

/* .banner{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #0c831f;
  color: white;
  height: auto;
}
.banner>div>img{
  float: right;
  width: 300px;
  height: 200px;
}
.banner-text{
  position: relative;
}
.banner>div>button{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: green;
} */

.search-div {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
}
.search-div > input {
  border: none;
  background-color: transparent;
  width: 40vw;
  height: 45px;
}
::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgb(153, 153, 153);
}
.my-cart {
  background-color: #0c831f !important;
  font-size: 14px !important;
}

.my-categories {
  width: 94%;
}
.my-container {
  width: 94%;
  overflow-x: scroll;
  margin: auto;
}
.my-list {
  white-space: nowrap;
}
.my-list > img {
  padding-inline: 10px;
}
::-webkit-scrollbar {
  display: none;
}

.my-card {
  border-radius: 10px !important;
  width: 180px;
  box-sizing: border-box;
  white-space: normal !important;
  margin-inline: 10px !important;
}
.my-card:hover{
  transform: scale(1.1);
}
.my-card > img {
  margin: auto !important;
}
.product-time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: fit-content;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgb(248, 248, 248);
  font-weight: 700;
  font-size: 9px;
  color: rgb(54, 54, 54);
}
.product-title {
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 13px;
  height: 50px;
}
.product-weight {
  color: #666;
  font-size: 12px;
  font-family: "Okra", Helvetica;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.catagory-section-row {
  width: 100%;
  overflow-x: scroll;
}
.catagory-section {
  width: 94%;
  margin: auto !important;
}
.row-3,
.row-2 {
  box-sizing: border-box;
  width: 95%;
  margin: 20px auto;
  color: #666;
  font-size: 14px;
  font-family: "Okra", Helvetica;
}
.row-3 > p {
  margin: auto;
}
.download {
  font-family: Okra;
  font-weight: 600;
  font-size: 18px;
  color: #666;
  display: inline-block;
  margin: auto;
}
.footer-item {
  display: flex;
  padding: 2px;
}
.footer-item-1{
  display: flex;
  padding: 2px;
  margin: auto;
}
.btn-1 {
  background-color: #213b50;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-inline: 2px;
}
.social-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.container-1 {
  padding: 20px;
  width: 95%;
  justify-content: center;
}
.section-1{
  width: 40%;
  padding: 15px;
}
.section-2 {
  width: 70%;
  padding: 15px;
}
.see-all {
  text-decoration: none;
  color: #0c831f;
}
table {
  width: 100%;
  margin: 20px auto;
}

.hello {
  cursor: pointer;
  text-decoration: none;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .nav-section {
    flex-direction: column !important;
  }
  .search-div,
  .location {
    width: 100%;
  }
  .hero-section > img,.btn,.my-cart {
    display: none !important;
  }
.my-list>img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
}
  .container-1,.row-2{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .row-2 {
    box-sizing: border-box;
    font-size: 10px;
  }
  .row-3 {
    font-size: 10px;
    width: 90%;
    text-align: center;
    text-align-last: center;
  }
  .footer-item,.btn-1 {
    margin-top: 10px;
  }
  .footer-item-1 {
    margin-top: 10px;
    flex-direction: column;
  }
  .section-1,.section-2{
    display: none;
  }
  .social-icon{
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
